TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
p=str(input())
print("Reverse of the input string is :",p[: :-1])

 pujan k patel

Reverse of the input string is : letap k najup

2. Check if a string is a palindrome.

In [ ]:
p=str(input())
reversed_string = p[::-1]
if(reversed_string ==p):
    print("Is Palandrome")
else:
    print("Not Palandrome")

3. Convert a string to uppercase.
4. Convert a string to lowercase.

In [ ]:
p=str(input("Enter the string: "))
print("Uppercase: ",p.upper())
print("\n")
print("Uppercase: ",p.lower())

5. Count the number of vowels in a string.
6. Count the number of consonants in a string.

In [ ]:
p=str(input("Enter the string : "))
vowels = "aeiouAEIOU"

count = sum(p.count(vowel) for vowel in vowels)
print("No. of vowels in string are",count)
print("\n")
print("No. of consonants in string are",len(p)-count)

7. Remove all whitespaces from a string.

In [ ]:
p=str(input("Enter the string : "))
r=p.replace(" ","")
print(r)

8. Find the length of a string without using the `len()` function.

In [ ]:
p=str(input("Enter the string : "))
cnt=0
for i in p:
    cnt=cnt+1
print(cnt)

9. Check if a string contains a specific word.
10. Replace a word in a string with another word.

In [ ]:
p=str(input("Enter the string : "))

print("Finding u in a string: ",p.find('u'))

print("Replace n with a: ",p.replace('n','a'))

11. Count the occurrences of a word in a string.
12. Find the first occurrence of a word in a string.
13. Find the last occurrence of a word in a string.

In [ ]:
p=str(input("Enter the string : "))
x=str(input())
occurrences=p.count(x)
print("The occurrence of ",x,"in a string are/is :",occurrences)
print("\n")

word = "language"

index = p.index(word)
print("First occurrence of word ",word," is at index: ",index)

print("\n")

index =p.rfind(word)
print("Last occurrence of word ",word," is at index: ",index)

14. Split a string into a list of words.
15. Join a list of words into a string.

In [ ]:
p="my name is pujan k patel"
r=p.split()
print("Splited string: ",r)
print("\n")
p=' '.join(r)
print("Joined string: ",p)

16.Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
string_with_spaces = "This is a sample string"
string_with_underscores = string_with_spaces.replace(" ", "_")
print(string_with_underscores)

17.Check if a string starts with a specific word or phrase.

In [ ]:
string = "Python is a great programming language."
if string.startswith("Python"):
    print("The string starts with 'Python'.")
else:
    print("The string does not start with 'Python'.")

18. Check if a string ends with a specific word or phrase.

In [ ]:
string = "Python is a great programming language."
if string.endswith("language."):
    print("The string ends with 'language'.")
else:
    print("The string does not ends with 'language'.")

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
p="hello world"
r=p.title()
print(r)

20. Find the longest word in a string.
21. Find the shortest word in a string.

In [ ]:
print("Enter the String: ")
text = input()
text = text.split()
lword=0
sword=100000

for wrd in text:
  wrdLen = len(wrd)
  if wrdLen>lword:
    lword=wrdLen
  elif wrdLen<sword:
    sword=wrdLen

    
    
print("\nLargest Word: ")
for wrd in text:
  wrdLen = len(wrd)
  if wrdLen==lword:
    print(wrd)
print("\nSmallest Word: ")
for wrd in text:
 wrdLen=len(wrd)
 if wrdLen==sword:
    print(wrd)

22. Reverse the order of words in a string.

In [ ]:
p=str(input())
x=p.split()
x=list(reversed(x))
print(" ".join(x))

23. Check if a string is alphanumeric.
24. Extract all digits from a string.
25. Extract all alphabets from a string.

In [ ]:
p=str(input("Enter the string: "))
if p.isalnum():
    print("The given string is alphanumeric")
else:
    print("String is not alpha numeric")
    
print("\n")
dig=""
alph=""
for char in p:
    if char.isdigit():
        dig+=char
    elif char.isalpha():
        alph+=char

print("Digits present in the given string are",dig)
print("\n")
print("Alphabates present in the given string are",alph)

26. Count the number of uppercase letters in a string.
27. Count the number of lowercase letters in a string.

In [ ]:
p=str(input("Enter the string"))
up=""
lw=""
for char in p:
    if char.isupper():
        up+=char
    else:
        lw+=char
print("The uppercase case in a string are",up)
print("\n")
print("The lowercase case in a string are",lw)

29. Swap the case of each character in a string.

In [ ]:
p=str(input("Enter the string"))
x=""
for i in p:
    if i.isupper():
        x+=i.lower()
    else:
        x+=i.upper()

print("The Sawpped cases of given string is",x)

29. Remove a specific word from a string.

In [ ]:
p=str(input("Enter the string"))
x=str(input("Enter the word to be removed"))

z=p.replace(x,'')

print("The string after removing the given word",z)

30. Check if a string is a valid email address.
31. Extract the username from an email address string.
32. Extract the domain name from an email address string.

In [ ]:
import re
s=str(input("Enter the username: "))
     
pat = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
if re.match(pat,s):
    print("Valid Email")
else:
     print("Invalid Email")
print("\n")

username = s.split("@")[0]
print("username: ",username)        
        
print("\n")        
        
res = s.split('@')[1]
 
# printing result
print("The extracted domain name : " + str(res))

33. Replace multiple spaces in a string with a single space.

In [ ]:
p=str(input("Enter the string"))
x=(" ".join(p.split()))
print("multiple space string to single space: ",x)

34. Check if a string is a valid URL.
35. Extract the protocol (http or https) from a URL string.

36. Find the frequency of each character in a string.
37. Remove all punctuation from a string.

In [ ]:
p=str(input())
all_freq={}
for i in p:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
print("Count of all characters in",p,"is :\n "
      + str(all_freq))

38. Check if a string contains only digits.

In [ ]:
p=str(input("Enter the string: "))
cnt=0
for i in p:
    if (i.isdigit()):
        cnt=cnt+1
if(cnt==len(p)):
    print("The string contain only digits")

39. Check if a string contains only alphabets.

In [ ]:
p=str(input("Enter the string: "))
cnt=0
for i in p:
    if (i.isalpha()):
        cnt=cnt+1
if(cnt==len(p)):
    print("The string contain only alphabate")
else:
    print("String is alpha numeric")

In [ ]:
p=str(input("Enter the string: "))
cnt=0
for i in p:
    if (i.isalpha()):
        cnt=cnt+1
if(cnt==len(p)):
    print("The string contain only alphabate")
else:
    print("String is alpha numeric")

40. Convert a string to a list of characters.

In [ ]:
p=str(input("Enter the string: "))
x=list(p)
print("Converted string to list :")
print(x)

41. Check if two strings are anagrams.

In [ ]:
p=str(input("Enter the 1 string: "))
q=str(input("Enter the 2 string: "))
x=sorted(p)
y=sorted(q)
if x==y:
    print("both strings are anagram of each other")
else:
     print("both strings are not anagram of each other")

42. Encode a string using a Caesar cipher.
43. Decode a Caesar cipher encoded string.

In [ ]:
#A python program to illustrate Caesar Cipher Technique
def encrypt(text,s):
	result = ""

	# traverse text
	for i in range(len(text)):
		char = text[i]

		# Encrypt uppercase characters
		if (char.isupper()):
			result += chr((ord(char) + s-65) % 26 + 65)

		# Encrypt lowercase characters
		else:
			result += chr((ord(char) + s - 97) % 26 + 97)

	return result

#check the above function
text = "ATTACKATONCE"
s = 4
result = ""

	# traverse text
for i in range(len(text)):
	char = text[i]

		# Encrypt uppercase characters
	if (char.isupper()):
		result += chr((ord(char) + s-65) % 26 + 65)

		# Encrypt lowercase characters
	else:
		result += chr((ord(char) + s - 97) % 26 + 97)
print ("Text : " + text)
print ("Shift : " + str(s))
print ("Cipher: " + encrypt(text,s))

44. Find the most frequent word in a string.

45. Find all unique words in a string.

In [ ]:
p=str(input("Enter the string: "))
s=set(p.split())
for i in s:
    print(i)

47. Check if a string contains any special characters.

In [1]:
p=str(input("Enter the string: "))
p.split()
c = 0
s = '[@_!#$%^&*()<>?/\|}{~:]'  # special character set
for i in range(len(p)):
    # checking if any special character is present in given string or not
    if p[i] in s:
        c += 1   # if special character found then add 1 to the c
 
# if c value is greater than 0 then print no
# means special character is found in string
if c:
    print("string contain special character")
else:
    print("string doesn't contain special character")

Enter the string:  pujan$patel

string contain special character

48. Remove the nth word from a string.

In [1]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

49. Insert a word at the nth position in a string.

### 50. Convert a CSV string to a list of lists.

In [1]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

## **List based practice problem :**

### 1. Create a list with integers from 1 to 10.

In [2]:
# Use a list comprehension to create a list of integers from 1 to 10
integer_list = [i for i in range(1, 11)]

# Print the list
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [3]:
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count

# Example list
my_list = [10, 20, 30, 40, 50]

# Find the length of the list using the custom_len function
length = custom_len(my_list)

# Print the length of the list
print("Length of the list:", length)

Length of the list: 5

### 3. Append an element to the end of a list.

In [4]:
# Example list
my_list = [10, 20, 30]

# Element to append
new_element = 40

# Append the new element to the end of the list
my_list.append(new_element)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 30, 40]

### 4. Insert an element at a specific index in a list.

In [6]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to insert
new_element = 25

# Index at which to insert the element
index_to_insert = 2

# Insert the new element at the specified index
my_list.insert(index_to_insert, new_element)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 25, 30, 40, 50]

### 5. Remove an element from a list by its value.

In [7]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to remove
element_to_remove = 30

# Remove the element by its value
my_list.remove(element_to_remove)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 40, 50]

### 6. Remove an element from a list by its index.

In [8]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to remove
index_to_remove = 2

# Remove the element by its value
my_list.pop(index_to_remove)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 40, 50]

### 7. Check if an element exists in a list.

In [10]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to remove
element = 30

# Remove the element by its value
if element in my_list:
    print("Element is present")
else:
    print("element is ot present")

Element is present

### 8. Find the index of the first occurrence of an element in a list.

In [11]:
# Example list
my_list = [10, 20, 30, 40, 50, 30]

# Element to find the index of
element_to_find = 30

# Find the index of the first occurrence of the element
index = my_list.index(element_to_find)

# Print the index
print(f"The index of {element_to_find} is {index}")

The index of 30 is 2

### 9. Count the occurrences of an element in a list.

In [13]:
# Example list
my_list = [10, 20, 30, 40, 50, 30]

# Element to find the index of
element = 30
cnt=0
# Find the index of the first occurrence of the element
for x in my_list:
    if(element==x):
        cnt=cnt+1

# Print the index
print(f"The occurrences of {element} is {cnt}")

The occurrences of 30 is 2

### 10. Reverse the order of elements in a list.

In [17]:
# Example list
my_list = [10, 20, 30, 40, 50, 30]

# Element to find the index of
r_list=my_list[::-1]

# Print the index
print("the reverse list is",r_list)

the reverse list is [30, 50, 40, 30, 20, 10]

### 11. Sort a list in ascending order.

In [18]:
# Example list
my_list = [50, 10, 30, 40, 20]

# Sort the list in ascending order
my_list.sort()

# Print the sorted list
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [10, 20, 30, 40, 50]

### 12. Sort a list in descending order.

In [19]:
# Example list
my_list = [50, 10, 30, 40, 20]

# Sort the list in ascending order
my_list.sort(reverse=True)

# Print the sorted list
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [50, 40, 30, 20, 10]

### 13. Create a list of even numbers from 1 to 20.

In [3]:
even_numbers = [x for x in range(2, 21, 2)]

# Print the list of even numbers
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [4]:
odd_numbers = [x for x in range(1, 20, 2)]

# Print the list of even numbers
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [7]:
my_list=[1,2,3,4,5,6]
sum=0
for x in my_list:
    sum+=x
print(f"The sum of the given list is {sum}")

The sum of the given list is 21

### 16. Find the maximum value in a list.

In [8]:
my_list=[1,2,3,4,5,6]
maxi=0
for x in my_list:
    if x>maxi:
        maxi=x
print(f"The max element in array is {maxi}")

The max element in array is 6

### 17. Find the minimum value in a list.

In [12]:
my_list=[1,2,3,4,5,6]
mini=1e9
for x in my_list:
    if x<mini:
        mini=x
print(f"The minimum element in array is {mini}")

The minimum element in array is 1

### 18. Create a list of squares of numbers from 1 to 10.

In [13]:
# Use a list comprehension to create a list of squares of numbers from 1 to 10
squares = [x ** 2 for x in range(1, 11)]

# Print the list of squares
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [14]:
import random

# Create a list of random integers between 1 and 100
random_integers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

List of random integers: [70, 84, 51, 74, 80, 92, 20, 88, 55, 30]

### 20. Remove duplicates from a list.

In [15]:
# Example list with duplicates
my_list = [10, 20, 30, 20, 40, 10, 50, 30]

# Remove duplicates by converting to a set and back to a list
unique_list = list(set(my_list))

# Print the list without duplicates
print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 30]

### 21. Find the common elements between two lists.

In [22]:
# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
common = list(set(list1).intersection(list2))

# Print the difference
print("Common between lists:", common)

Common between lists: [40, 50, 30]

### 22. Find the difference between two lists.

In [23]:
# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
difference = list(set(list1).difference(list2))

# Print the difference
print("Difference between lists:", difference)

Difference between lists: [20, 10]

### 23. Merge two lists.

In [24]:
# Example lists
list1 = [10, 20, 30]
list2 = [40, 50, 60]

# Merge lists using the + operator
merged_list = list1 + list2

# Print the merged list
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

### 24. Multiply all elements in a list by 2.

In [25]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Multiply all elements by 2 using a list comprehension
multiplied_list = [x * 2 for x in my_list]

# Print the multiplied list
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

### 25. Filter out all even numbers from a list.

In [32]:
my_list = [10,11,12,14,15,17,19,21]
lis=[]
for x in my_list:
    if(x%2==0):
        lis.append(x)
        
print(lis)

[10, 12, 14]

### 26. Convert a list of strings to a list of integers.

In [33]:
# Example list of strings
string_list = ["10", "20", "30", "40", "50"]

# Convert list of strings to list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

# Print the list of integers
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

### 27. Convert a list of integers to a list of strings.

In [34]:
# Example list of integers
integer_list = [10, 20, 30, 40, 50]

# Convert list of integers to list of strings using a list comprehension
string_list = [str(x) for x in integer_list]

# Print the list of strings
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

### 28. Flatten a nested list.

In [36]:
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

### 29. Create a list of the first 10 Fibonacci numbers.

In [39]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(10)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30. Check if a list is sorted.
  
  - Checking for ascending order:

In [44]:
def sorte(lst):
    for i in range(1,len(lst)):
        if(lst[i]<lst[i-1]):
            return False
        else:
            return True
        
lst=[1,2,3,4,5,6]
print(sorte(lst))

True

### 31. Rotate a list to the left by `n` positions.

In [45]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

### 32. Rotate a list to the right by `n` positions.

In [46]:
# Function to rotate a list to the right by n positions
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

### 33. Create a list of prime numbers up to 50.

In [47]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2,30) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

### 34. Split a list into chunks of size `n`.

In [52]:

import numpy as np
  
arr =[1,2,3,4,5,6,7,8,9,10,11,12]
np.array_split(arr, 2)

[array([1, 2, 3, 4, 5, 6]), array([ 7,  8,  9, 10, 11, 12])]

### 35. Find the second largest number in a list.

In [54]:
# Example list
my_list = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list))

# Find the second largest number
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

### 36. Replace every element in a list with its square.

In [55]:
my_list=[1,2,3,4,5,6]
s_list=[x**2 for x in my_list]
print(s_list)

[1, 4, 9, 16, 25, 36]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [57]:
my_list=['apple','mango','bananan','pomogranate']
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'mango': 1, 'bananan': 2, 'pomogranate': 3}

### 38. Shuffle the elements of a list randomly.

In [58]:
my_list=[1,2,3,4,5,6,7,8,9,10]
random.shuffle(my_list)
print(my_list)

[3, 10, 7, 1, 8, 9, 5, 2, 4, 6]

### 39. Create a list of the first 10 factorial numbers.

In [59]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(10)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 40. Check if two lists have at least one element in common.

In [63]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
x=(set(list1).intersection(list2))
if(len(x)>0):
    print("It has at least 1 common element")
else:
    print("No common element")

It has at least 1 common element

### 41. Remove all elements from a list.

In [64]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

# Print the empty list
print("Empty list:", my_list)

Empty list: []

### 42. Replace negative numbers in a list with 0.

In [67]:
my_list = [1, 2, 3, -4, -5]
for i in range(len(my_list)):
    if(my_list[i]<0):
       my_list[i]=0

print(my_list)

[1, 2, 3, 0, 0]

### 43. Convert a string into a list of words.

In [68]:
# Example string
my_string = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

### 44. Convert a list of words into a string.

In [69]:
# Example list of words
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

### 45. Create a list of the first `n` powers of 2.

In [70]:
# Specify the value of n
n = 5

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

### 46. Find the longest string in a list of strings.

In [71]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: elderberry

### 47. Find the shortest string in a list of strings.

In [72]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: date

### 48. Create a list of the first `n` triangular numbers.

In [73]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

### 49. Check if a list contains another list as a subsequence.

In [74]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

### 50. Swap two elements in a list by their indices.

In [75]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

## **Tuple based practice problem :**

---

### 1. Create a tuple with integers from 1 to 5.

In [77]:
my_tuple=(1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [79]:
my_tuple=(1,2,3,4,5,6)
x=my_tuple[2]
print("Third element of tuple is ",x)

Third element of tuple is  3

### 3. Find the length of a tuple without using the `len()` function.

In [80]:
my_tuple=(1,2,3,4,5,6)
cnt=0
for i in my_tuple:
    cnt=cnt+1

print("Length og tupple is",cnt)

Length og tupple is 6

### 4. Count the occurrences of an element in a tuple.

In [84]:
my_tuple=(1,2,3,4,5,6,3,3,33,3)
cnt=0
n=3
for i in range(len(my_tuple)):
    if(my_tuple[i]==n):
        cnt=cnt+1
# print(cnt)
print(f"{n} occurred {cnt} times in given tuple")

3 occurred 4 times in given tuple

### 5. Find the index of the first occurrence of an element in a tuple.

In [86]:
my_tuple=(1,2,3,4,5,6,3,3,33,3)
idx=0
n=3
for i in range(len(my_tuple)):
    if(my_tuple[i]==n):
        print(f"The first occurence of {n} is at index {i}")
        break

The first occurence of 3 is at index 2

### 6. Check if an element exists in a tuple.

In [90]:
my_tuple=(1,2,3,4,5,6,3,3,33,3)
n=3
if n in my_tuple:
     print(f"Element {n} exist in a tuple")
else:
    print("Element doesn't exists")

Element 3 exist in a tuple

### 7. Convert a tuple to a list.

In [94]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Convert the tuple to a list
my_list = list(my_tuple)

# Step 3: Print the resulting list
print("Tuple:", my_tuple)
print("List:", my_list)

TypeError: 'list' object is not callable

### 8. Convert a list to a tuple.

In [95]:
# Step 1: Create a list
my_list = [10, 20, 30, 40, 50]

# Step 2: Convert the list to a tuple
my_tuple = tuple(my_list)

# Step 3: Print the resulting tuple
print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

### 9. Unpack the elements of a tuple into variables.

In [96]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

### 10. Create a tuple of even numbers from 1 to 10.

In [98]:
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [99]:
# Step 1: Create a list of even numbers using a list comprehension
odd_numbers_list = [num for num in range(1, 10, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
odd_numbers_tuple = tuple(odd_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of odd numbers:", odd_numbers_tuple)

Tuple of odd numbers: (1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [101]:

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)


concatenated_tuple = tuple1 + tuple2


print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

### 13. Repeat a tuple three times.

In [102]:

original_tuple = (1, 2, 3)


repeated_tuple = original_tuple * 3


print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

### 14. Check if a tuple is empty.

In [103]:

empty_tuple = ()
non_empty_tuple = (1, 2, 3)

if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

### 15. Create a nested tuple.

In [104]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

### 16. Access the first element of a nested tuple.

In [105]:

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

first_element = nested_tuple[0]
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

### 17. Create a tuple with a single element.

In [108]:

single_element_tuple = (42,)  # Note the trailing comma

print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

### 18. Compare two tuples.

In [109]:

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

### 19. Delete a tuple.

In [115]:
my_tuple = (1, 2, 3,4,5,6)
del my_tuple
print(my_tuple)

NameError: name 'my_tuple' is not defined

### 20. Slice a tuple.

In [120]:
my_tup=(1,2,3,4,5,6,10,7,8,9)
x=my_tup[2:6]
print(x)

(3, 4, 5, 6)

### 21. Find the maximum value in a tuple.

In [131]:
my_tup=(1,2,3,4,5,6,10,7,8,9)
x=max(my_tup)
print("Maximum value in my_tup is ",x)

Maximum value in my_tup is  10

### 22. Find the minimum value in a tuple.

In [132]:
my_tup=(1,2,3,4,5,6,10,7,8,9)
x=min(my_tup)
print("Minimum value in my_tup is ",x)

Minimum value in my_tup is  1

### 23. Convert a string to a tuple of characters.

In [134]:
s="Hello, World"
stotuple=tuple(s)
print("String to tuple of a given string s is ",stotuple)

String to tuple of a given string s is  ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd')

### 24. Convert a tuple of characters to a string.

In [138]:
my_tuple=('P','u','j','a','n',' ','K',' ','P','a','t','e','l')
s=''.join(my_tuple)
print("Tuple to string ",s)

Tuple to string  Pujan K Patel

### 25. Create a tuple from multiple data types.

In [139]:

mixed_tuple = (1, "hello", 3.14, True)

print(mixed_tuple)

(1, 'hello', 3.14, True)

### 26. Check if two tuples are identical.

In [140]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

### 27. Sort the elements of a tuple.

In [141]:
# Step 1: Create a tuple
my_tuple = (5, 2, 8, 1, 3)

# Step 2: Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Step 3: Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

### 28. Convert a tuple of integers to a tuple of strings.

In [142]:
# Step 1: Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# Step 3: Print the tuple of strings
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

### 29. Convert a tuple of strings to a tuple of integers.

In [143]:
# Step 1: Create a tuple of strings
tuple_of_strings = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Step 3: Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

### 30. Merge two tuples.

In [144]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

### 31. Flatten a nested tuple.

In [145]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

### 32. Create a tuple of the first 5 prime numbers.

In [1]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

### 3. Check if a tuple is a palindrome.

In [2]:

def is_palindrome(tup):
    return tup == tup[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

### 34. Create a tuple of squares of numbers from 1 to 5.

In [4]:
my_tup=(1,2,3,4,5)
x=tuple(n**2 for n in my_tup)
print(x)

(1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [7]:
my_tup=(1,2,3,4,5)
ev=tuple(i for i in  my_tup if i%2==0)

print(ev)

(2, 4)

### 36. Multiply all elements in a tuple by 2.

In [4]:
my_tup=(1,2,3,4,5)
ev=tuple(i*2 for i in  my_tup)

print(ev)

(2, 4, 6, 8, 10)

### 37. Create a tuple of random numbers.

In [5]:
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (45, 46, 44, 10, 4, 37, 64, 92, 6, 79)

### 38. Check if a tuple is sorted.

In [6]:
# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

### 39. Rotate a tuple to the left by `n` positions.

In [7]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

### 40. Rotate a tuple to the right by `n` positions.

In [10]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [11]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [12]:
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

User input tuple: ('1',)

### 43. Swap two elements in a tuple.

In [13]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

### 44. Reverse the elements of a tuple.

In [14]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [15]:
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

### 46. Find the longest string in a tuple of strings.

In [22]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

In [23]:
tup=["apple", "banana", "grape", "kiwi", "watermelon"]
llt=max(tup,key=len)
print(llt)

watermelon

### 47. Find the shortest string in a tuple of strings.

In [25]:
tup=("apple", "banana", "grape", "kiwi", "watermelon")
tupm=min(tup,key=len)
print("Shortest word in tuple is ",tupm)

Shortest word in tuple is  kiwi

### 48. Create a tuple of the first `n` triangular numbers.

In [26]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

### 49. Check if a tuple contains another tuple as a subsequence.

In [30]:
def checksub(my_tup,sub_tup):
    sub_len=len(sub_tup)
    for i in range(len(my_tup)-sub_len+1):
        if my_tup[i:i+sub_len]==sub_tup :
            return True
    return False
        
main_tup=(1,2,3,4,5,6,7,8)
sub_tup=(3,4,5)
print(checksub(main_tup,sub_tup))

True

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [31]:
# Define the value of n
n = 10

alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## **Set based problems:**

---

### 1. Create a set with integers from 1 to 5

In [33]:

my_set = set()

my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)


print(my_set)

{1, 2, 3, 4, 5}

### 2. Add an element to a set

In [37]:
mys={1,23,4}
print("Original set",mys)
mys.add(1)
mys.add(3)
mys.add(4)

print("After adding elelemnt",mys)

Original set {1, 4, 23}
After adding elelemnt {1, 3, 4, 23}

### 3. Remove an element from a set.

In [38]:
# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

print("Original Set:", my_set)

element_to_remove = 3

my_set.remove(element_to_remove)

print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

### 4. Check if an element exists in a set.

In [43]:
mys={1,2,3,4,5}
n=int(input("Enter the number to be found"))
if n in mys:
   print("Number is present")
else:
   print("Number is not present")

Number is present

### 5. Find the length of a set without using the `len()` function

In [44]:
mys={1,2,3,4,5}
cnt=0
for i in mys: cnt=cnt+1

print("Length of string is ",cnt)

Length of string is  5

### 6. Clear all elements from a set.

In [47]:
my_set = {1, 2, 3, 4, 5}
print("Original set",my_set)
my_set.clear()
print("After clearing all elements from set ",my_set)

Original set {1, 2, 3, 4, 5}
After clearing all elements from set  set()

### 7. Create a set of even numbers from 1 to 10

In [48]:
# Step 1: Initialize an empty set
even_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10
for num in range(1, 11):
    # Step 3: Check if the number is even
    if num % 2 == 0:
        # Step 4: Add the even number to the set
        even_numbers_set.add(num)

# Step 5: Print the set of even numbers
print(even_numbers_set)

{2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10

In [49]:
# Step 1: Initialize an empty set
odd_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10
for num in range(0, 10):
    # Step 3: Check if the number is even
    if num % 2 != 0:
        # Step 4: Add the even number to the set
        odd_numbers_set.add(num)

# Step 5: Print the set of even numbers
print(odd_numbers_set)

{1, 3, 5, 7, 9}

### 9. Find the union of two sets

In [53]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
x=(set1).union(set2)
print("Union of 2 sets are ",x)

Union of 2 sets are  {1, 2, 3, 4, 5, 6, 7, 8}

### 10. Find the intersection of two sets

In [55]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
x=(set1).intersection(set2)
print("Intersection of 2 sets are ",x)

Intersection of 2 sets are  {4, 5}

### 11. Find the difference between two sets.

In [59]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
x=set1-set2
print("Diiference of 2 sets are ",x)

Diiference of 2 sets are  {1, 2, 3}

### 12. Check if a set is a subset of another set.

In [68]:
set1 = {1, 2, 3, 4, 5}
set2 = {2,4,5}
x=set1.issuperset(set2)
if x==True:
  print("set2 is subset of set1")
else:
    print ("not a subset")

set2 is subset of set1

### 13. Check if a set is a superset of another set.

In [69]:
# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

### 14. Create a set from a list

In [2]:
# Step 1: Create a list of elements
my_list = [2, 4, 1, 4, 3, 2, 5]

# Step 2: Use the set() constructor to convert the list into a set
# This automatically removes duplicates and creates a set with unique elements
my_set = set(my_list)

# Step 3: Print the original list and the resulting set
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

### 15. Convert a set to a list.

In [3]:
# Step 1: Create a set with some elements
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

# Step 2: Convert the set to a list using the list() function
my_list = list(my_set)

# Now, my_list contains the elements from my_set in list format

# Step 3: Print the original set and the converted list
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

### 16. Remove a random element from a set.

In [4]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 1 : {2, 3, 4, 5}

### 17. Pop an element from a set.

In [5]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Print the original set
print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

### 18. Check if two sets have no elements in common.

In [6]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

### 19. Find the symmetric difference between two sets.

In [7]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

### 20. Update a set with elements from another set.

In [8]:
# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

### 21. Create a set of the first 5 prime numbers.

In [9]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

### 22. Check if two sets are identical.

In [10]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

### 23. Create a frozen set

In [11]:
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

### 24. Check if a set is disjoint with another set.

In [12]:
# Step 1: Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

### 25. Create a set of squares of numbers from 1 to 5.

In [13]:
# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [14]:
# Step 1: Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

### 27. Multiply all elements in a set by 2.

In [16]:
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set(i*2 for i in original_set)


print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

### 28. Create a set of random numbers.

In [17]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {41, 66, 100, 31}

### 29. Check if a set is empty.

In [18]:

my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

### 30. Create a nested set (hint: use frozenset).

In [19]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

### 31.  Remove an element from a set using the discard method.

In [21]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

print("Initial set:", my_set)

element_to_remove = 3
my_set.discard(element_to_remove)

print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

### 32. Compare two sets.

In [22]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

### 33. Create a set from a string.

In [23]:

input_string = "hello"


char_set = set(input_string)
print(char_set)

{'o', 'h', 'l', 'e'}

### 34. Convert a set of strings to a set of integers.

In [24]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '789', '123'}
Converted Integer Set: {456, 123, 789}

### 35. Convert a set of integers to a set of strings.

In [25]:
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'1', '2', '3', '4', '5'}

### 36. Create a set from a tuple.

In [26]:
# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

output_set = set(input_tuple)

print(output_set)

{1, 2, 3, 4, 5}

### 37. Convert a set to a tuple.

In [27]:

input_set = {1, 2, 3, 4, 5}

output_tuple = tuple(input_set)

print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

### 38. Find the maximum value in a set.

In [28]:
# Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

### 39. Find the minimum value in a set.

In [29]:
# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

### 40. Create a set from user input.

In [30]:
# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):
Final set: {'567', 'dsvb/'}

### 41. Check if the intersection of two sets is empty.

In [31]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

### 42. Create a set of the first 5 Fibonacci numbers.

In [32]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()
a, b = 0, 1
for _ in range(6):
   
    fibonacci_set.add(a)
    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

### 43. Remove duplicates from a list using sets.

In [34]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
unique_set = set(original_list)


print("Original List:", original_list)
print("List with Duplicates Removed:", unique_set)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: {2, 4, 6, 8, 10, 12, 14}

### 44. Check if two sets have the same elements, regardless of their count.

In [35]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

### 45. Create a set of the first `n` powers of 2

In [36]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

### 46. Find the common elements between a set and a list.

In [37]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

### 47. Create a set of the first `n` triangular numbers.:

Triangular numbers are a sequence of numbers that represent the number of dots in a triangular arrangement. The sequence starts with 1 and then each subsequent number is obtained by adding the next natural number.

Mathematically, the $n^{th}$ triangular number, denoted as $T_n$, is given by the formula:

$T_n$ $=$ $1+2+3+...+n=\frac {n*(n + 1)}{2}$

Visually, you can imagine triangular numbers by arranging dots in the shape of equilateral triangles:

```
   1       1 dot
   1 1      3 dots
   1 2 1     6 dots
   1 2 3 1   10 dots
```

### 48. Check if a set contains another set as a subset.

In [38]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

### 49. Create a set of alternating 1s and 0s of length `n`.

In [40]:
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        
        if i % 2 == 0:
            alternating_set.add(1) 
        else:
            alternating_set.add(0)  

    return alternating_set


length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

### 50. Merge multiple sets into one.

In [41]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}